body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#calcu {
    border: 2px solid #ddd;
    border-collapse: collapse;
    background-color: #e5eff1;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

input[type="button"] {
    width: 100%;
    padding: 20px ;
    background-color: #ac9298;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: grabbing;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #45a049;
}

input[type="text"] {
    width: calc(100% - 10px);
    padding: 20px 15px;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: right;
    box-sizing: border-box;
}

td {
    text-align: center;
    padding: 10px;
}

td:nth-child(4n+1) input[type="button"] {
    border-radius: 5px 0 0 5px;
}

td:nth-child(4n) input[type="button"] {
    border-radius: 0 5px 5px 0;
}

